.catalog {
  display: grid;
  grid-template-columns: repeat(4, $s-card-width);
  justify-content: center;
  grid-gap: 48px;

  @include for-width-1023px;
  @include for-width-767px;
  @include for-width-487px;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
