.catalog {
  display: grid;
  grid-template-columns: repeat(4, $s-card-width);
  justify-content: center;
  grid-gap: 48px;

  @include media-width-template(1023px, 3);
  @include media-width-template(767px, 2);
  @include media-width-template(487px, 1);

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
